:root {
    --white: #FFFFFF;
    --background: #F3F4F5;
    --dark-backround: #EAEDED;
    --font-light-color: #839192;
    --border: #E9E9E9;
    --card-2: #0D2E33;
    --card-3: #9A7B76;
    --card-4: #9C5F2D;
    --card-5: #3E3781;
    --card-6: #C89E48;
    --card-7: #844E9A;
    --card-8: #E958AE;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-container {
    margin: 10px;
}

.log {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log img {
    max-width: 40px;
    max-height: 40px;
}

.ev-container {
    display: flex;
    align-items: center;
    height: 5vh;
}

.user-name {
    font-weight: bold;
    margin-right: 8px;
}

.user-initials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--border) 1px;
    border-radius: 30%;
    background-color: var(--background);
    max-height: 30px;
    max-width: 30px;
}

.user-initials {
    display: flex;
    padding: 3px;
    font-size: small;
    margin: 0;
    color: var(--font-light-color);
}

.sides {
    display: flex;
}

.big-container1 {
    width: 60vw;
    margin: 30px 40px 0 50px;
}

.first-section {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    font-size: x-large;
}

.text1 {
    margin: 0;
    color: var(--font-light-color);
    font-size: small;
    font-weight: 500;
}

.active-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 0;
    height: 30px;
    max-width: 180px;
    border-radius: 8px;
    background-color: var(--dark-backround);
}

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 26px;
    width: 48%;
}

.active {
    background-color: var(--white);
}

.switch p {
    font-size: small;
    font-weight: bold;
    margin: 0;
}

.archived p {
    color: var(--font-light-color);
}

.cards-container {
    display: grid;
    grid-template-columns: 18vw 18vw 18vw;
    grid-gap: 1vw;
}

.first-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: dotted;
    border-color: var(--dark-backround);
    border-width: 1.5px;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px var(--dark-backround);
    border-radius: 10px;
}

.plus-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3vw;
    height: 5vh;
    max-width: 50px;
    max-height: 50px;
    margin: 15px;
    border-style: dotted;
    border-radius: 8px;
    border-color: var(--dark-backround);
    background-color: var(--white);
}

.first-part-container p {
    margin-left: 15px;
    font-size: small;
    font-weight: bold;
}

.define-role {
    color: var(--font-light-color);
}

.create-new-button {
    border: solid var(--dark-backround);
    border-radius: 8px;
    border-width: 1px;
    width: 8vw;
    height: 5vh;
    max-height: 50px;
    max-width: 200px;
    background-color: var(--white);
    font-size: small;
    font-weight: bold;
    margin: 15px;
}

.color {
    height: 22vh;
    max-height: 100px;
    margin-bottom: 8px;
    border-radius: 10px 10px 0 0;
}

.color-2 {
    background-color: var(--card-2);
}

.color-3 {
    background-color: var(--card-3);
}

.color-4 {
    background-color: var(--card-4);
}

.color-5 {
    background-color: var(--card-5);
}

.color-6 {
    background-color: var(--card-6);
}

.color-7 {
    background-color: var(--card-7);
}

.color-8 {
    background-color: var(--card-8);
}

.position {
    margin-left: 15px;
    font-size: small;
    font-weight: bold;
}

.description {
    margin: 0 0 0 15px;
    font-size: small;
    font-weight: bold;
    color: var(--font-light-color);
}

.icons-container {
    display: flex;
    margin: 20px 0 15px 15px
}

.card-icon {
    display: flex;
    align-items: center;
    border: solid var(--border);
    border-radius: 8px;
    border-width: 1px;
    padding: 3px 5px;
    margin-right: 7px;
}

.card-icon img {
    object-fit: cover;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.card-icon p {
    margin: 0;
    font-size: small;
    font-weight: bold;
}

.icon1 p {
    color: var(--font-light-color);
}

.big-container2 {
    width: 25vw;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 1px 2px var(--dark-backround);
    padding: 15px;
}

.big-icons {
    display: flex;
    justify-content: space-between;
}

.squared-icon {
    width: 10vw;
    height: 9vh;
    max-width: 80px;
    max-height: 80px;
}

.squared-icon img {
    object-fit: cover;
    width: 9vw;
    height: 9vh;
    max-width: 78px;
    max-height: 78px;
}

.compare-pencil {
    display: flex;
    align-items: center;
    height: 7vh;
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    font-family: 'Montserrat';
    font-size: small;
    font-weight: bold;
    border-radius: 7px;
    border: solid var(--dark-backround);
    border-width: 1px;
}

.compare {
    width: 7vw;
    height: 5vh;
    margin-right: 5px;
}

.pencil {
    width: 2.5vw;
    height: 5vh;
}

.pencil img {
    object-fit: cover;
    width: 1vw;
    height: 2vh;

}

.lead-designer-big {
    font-size: small;
    font-weight: bold;
}

.ld {
    color: var(--font-light-color);
}

.numbers {
    display: flex;
    padding-bottom: 20px;
    border-bottom: dotted var(--dark-backround);
}

.before-input {
    display: flex;
    justify-content: space-between;
}

.before-input p {
    font-size: small;
    font-weight: bold;
}

.view-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view {
    color: var(--font-light-color);
}

.all {
    margin-left: 10px;
}

.view-container img {
    object-fit: cover;
    width: 10px;
    height: 7px;
    margin: 0 5px 0 10px;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 10px auto 20px auto;
}

.input {
    height: 30px;
    width: 93%;
    background-image: url(file:///C:/RETOS/openings/icons/search.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 15px;
    padding-left: 25px;
    color: var(--font-light-color);
    background-color: var(--dark-backround);
    border-radius: 10px;
    border: transparent;
    background-position-y: center;
    background-position-x: 2%;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: small;
}