:root {
    --white: #FFFFFF;
    --background: #F3F4F5;
    --dark-backround: #EAEDED;
    --font-light-color: #839192;
    --border: #E9E9E9;
    --card-2: #0D2E33;
    --card-3: #9A7B76;
    --card-4: #9C5F2D;
    --card-5: #3E3781;
    --card-6: #C89E48;
    --card-7: #844E9A;
    --card-8: #E958AE;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-container {
    margin: 10px;
}

.log {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log img {
    max-width: 40px;
    max-height: 40px;
}

.ev-container {
    display: flex;
    align-items: center;
    height: 5vh;
}

.user-name {
    font-weight: bold;
    margin-right: 8px;
}

.user-initials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--border) 1px;
    border-radius: 30%;
    background-color: var(--background);
    max-height: 30px;
    max-width: 30px;
}

.user-initials {
    display: flex;
    padding: 3px;
    font-size: small;
    margin: 0;
    color: var(--font-light-color);
}

.sides {
    display: flex;
}

.big-container1 {
    width: 75%;
    margin: 30px 50px 0 50px;
}

.first-section {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    font-size: x-large;
}

.text1 {
    margin: 0;
    color: var(--font-light-color);
    font-size: small;
    font-weight: 500;
}